html,
body,
#root {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

/* Dark mode */
body.dark {
	background: #191919;
}

body.dark .login_card {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.5);
    background-color: rgba(64, 63, 62, 0.2)
}

a {
    cursor: pointer;
}

.color-mode {
    position: absolute;
    top: 20px;
    right: 30px;
}
.color-mode .checkbox {
	opacity: 0;
	position: relative;
}

.color-mode .label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.color-mode .label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.color-mode .checkbox:checked + .label .ball {
	transform: translateX(32px);
	-webkit-transform: translateX(32px);
	-moz-transform: translateX(32px);
	-ms-transform: translateX(32px);
	-o-transform: translateX(32px);
}

.color-mode .fa-sun,
.color-mode .fa-moon {
	color: #f1c40f;
}

.login_card {
    text-align: center;
    padding: 32px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    box-shadow: 0px 16px 32px rgba(97, 38, 155, 0.2);
    backdrop-filter: blur(37px);
    border: 1px solid rgba(255, 255, 255, 0.2);    
}

.login_card header h3 {
    font-weight: 600;
    margin: 20px 0 22px 0;
}

.login_card .login_card__info-data fieldset {
    border: none;
    text-align: left;
    position: relative;
}

.login_card .login_card__info-data fieldset:first-of-type {
    padding: 0 0 16px 0;
}

.login_card .login_card__info-data fieldset:last-of-type {
    padding: 0;
}

.login_card .login_card__info-data input {
    display: block;
    width: 336px;
    height: 36px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 32px;
    margin: 6px 0 0 0;
    outline: none;
    text-indent: 52px;
    font-size: 14px;
    color: #1c1c1c;
}

.login_card .login_card__info-data #email {
    background-image: url('img/email.svg');
    background-repeat: no-repeat;
    background-position: 18px center;
}

.login_card .login_card__info-data #senha {
    background-image: url('img/password.svg');
    background-repeat: no-repeat;
    background-position: 18px center;
}

.login_card .login_card__info-data input:active,
.login_card .login_card__info-data input:focus {
    background: rgba(255, 255, 255, 0.5);
}

.login_card .login_card__info-data .toggle-password {
    position: absolute;
    top: 40px;
    right: 18px;
}

.login_card .login_card__info-data .toggle-password .hide {
    display: none;
}

.login_card .login_card__info-data a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    text-align: right;
    color: #fff;
    margin: 8px 0 16px 0;
}

.login_card p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.login_card p a {
    color: #fff;
}

.login_card button {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(45px);
    border-radius: 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.015em;
    color: #5F2CA7;
    outline: none;
    padding: 10px 60px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-bottom: 10px;
}


.login_card button:hover {
    background: #5F2CA7;
    color: #fff;
    cursor: pointer;
}


.login_card footer {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
}

.login_card svg path {
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
}

.login_card svg:hover path {
    fill: #5F2CA7;
}

@media (min-width: 1px) and (max-width: 780px) {
    body {
        flex-direction: column;
    }

    .color-mode {
        position: relative;
        top: 0;
        right: 0;
    }

    main {
        margin-top: 20px;
    }
}


@media (min-width: 1px) and (max-width: 460px) {
    .login_card {
        padding: 20px;
    }

    .login_card header img {
        width: 80px;
    }

    .login_card .login_card__info-data input {
        width: 100%;
    }
}

